::-webkit-scrollbar  
{  
    width: 7px;  
    height: 10px;  
    background-color: #F5F5F5; 
}  
::-webkit-scrollbar:horizontal  
{  
    width: 10px;  
    height: 7px;  
    background-color: #F5F5F5; 
} 

/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 20px;
    background-color: #a6a6a6;  
}  

::-webkit-scrollbar-thumb:window-inactive { 
    background-color:#c4c4c4; 
}  